<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=acesim;AccountKey=hUGjg6lQjXYORQxzyUbDl9joTgJ4xlXQ6kb2d3Lm2DSx8YsgWm29UDoezSOj6IIAG6oZL7oJvenO80KD2GLl+g==" />
    </appSettings>
</configuration>