<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PQContext" connectionString="Data Source=|DataDirectory|Mydb.sdf; Max Database Size=4091" providerName="System.Data.SqlServerCe.4.0" />
    <add name="ACESim.Properties.Settings.ACESIMConnectionString" connectionString="Data Source=kpv2vox12p.database.windows.net;Initial Catalog=ACESIM;Persist Security Info=True;User ID=mbabramo;Password=qwerty9876!" providerName="System.Data.SqlClient" />
    <add name="ACESIMEntities1" connectionString="metadata=res://*/Reports.DatabaseAccess.SimData.csdl|res://*/Reports.DatabaseAccess.SimData.ssdl|res://*/Reports.DatabaseAccess.SimData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kpv2vox12p.database.windows.net;initial catalog=ACESIM;persist security info=True;user id=mbabramo;password=qwerty9876!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ACESIMEntities" connectionString="metadata=res://*/Reports.SimData.csdl|res://*/Reports.SimData.ssdl|res://*/Reports.SimData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kpv2vox12p.database.windows.net;initial catalog=ACESIM;persist security info=True;user id=mbabramo;password=qwerty9876!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
